<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Baglanti" connectionString="Data Source=SEM-BILGISAYAR\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"/>
    <add name="Baglanti2" connectionString="Data Source=server01;Initial Catalog=Northwind;Integrated Security=True"/>
  </connectionStrings>
</configuration>